.App {
  text-align: center;

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--vw) * 2);
    color: white;
    padding-top: 20px;

    .App-logo {
      pointer-events: none;
      max-width: 100%;
      display: block;
    }

    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }

    .App-link {
      color: #61dafb;
    }
  }
}
